{% extends "index.html" %}
{% block body %}
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <a class="navbar-brand" href="#">Apps ({{ total }})</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <form class="form-inline my-2 my-lg-0" id="filterform" action="/{{ environment }}/apps" method="GET">
      <input class="form-control mr-sm-2" name="query" type="text" placeholder="Search" value="{{ get_qargs(as_dict=True)['query'] }}">
      {% for key, value in get_qargs(page=1,as_list=True,query=None,order_by=None,filter=None) %}
      <input type="hidden" name="{{ key }}" value="{{ value }}">
      {% endfor %}
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<table class="table table-hover">
  <thead>
    <tr>
      <th><a class="" href="?{{ get_qargs(order_by='created') }}">Toshi Id</a></th>
      <th><a class="" href="?{{ get_qargs(order_by='name') }}">Name</a></th>
      <th><a class="" href="?{{ get_qargs(order_by='reputation_score') }}">Reputation</a></th>
      <th><a class="" href="?{{ get_qargs(order_by='featured') }}">Featured</a></th>
      <th><a class="" href="?{{ get_qargs(order_by='blocked') }}">Blocked</a></th>
    </tr>
  </thead>
  <tbody>
    {% for app in apps %}
    <tr>
      <td>
	<a href="/{{ environment }}/user/{{ app.toshi_id }}">
	  <img src="{{ app.avatar }}" width="30" height="30">
	  {{ app.toshi_id }}
	</a>
      </td>
      <td>
	{{ app.name }}
      </td>
      <td>
	{% if app.reputation_score %}
	{% if app.reputation_score < 1 %}☆{% endif %}
	{% if app.reputation_score >= 1 %}★{% endif %}
	{% if app.reputation_score >= 2 %}★{% endif %}
	{% if app.reputation_score >= 3 %}★{% endif %}
	{% if app.reputation_score >= 4 %}★{% endif %}
        {% if app.reputation_score >= 5 %}★{% endif %}
        {% else %}
	—
	{% endif %}
	 ({{ app.review_count }})
      </td>
      <td>
	{% if app.featured %}
	  yes
        {% else %}
          no
	{% endif %}
        {% if app.featured %}
          <form id="remove_featured_form_{{ app.toshi_id }}" method="POST" action="/{{ environment }}/app/featured">
            <input type="hidden" name="toshi_id" value="{{ app.toshi_id }}">
            <input type="hidden" name="featured" value="">
          </form>
          <a href="#" class="remove_featured" data-toshi-id="{{ app.toshi_id }}">(unfeature)</a>
        {% else %}
          <form id="set_featured_form_{{ app.toshi_id }}" method="POST" action="/{{ environment }}/app/featured">
            <input type="hidden" name="toshi_id" value="{{ app.toshi_id }}">
            <input type="hidden" name="featured" value="true">
          </form>
          <a href="#" class="set_featured" data-toshi-id="{{ app.toshi_id }}">(feature)</a>
        {% endif %}
      </td>
      <td>
	{% if app.blocked %}
	  yes
        {% else %}
          no
	{% endif %}
        {% if app.blocked %}
          <form id="remove_blocked_form_{{ app.toshi_id }}" method="POST" action="/{{ environment }}/app/blocked">
            <input type="hidden" name="toshi_id" value="{{ app.toshi_id }}">
            <input type="hidden" name="blocked" value="">
          </form>
          <a href="#" class="remove_blocked" data-toshi-id="{{ app.toshi_id }}">(unblock)</a>
        {% else %}
          <form id="set_blocked_form_{{ app.toshi_id }}" method="POST" action="/{{ environment }}/app/blocked">
            <input type="hidden" name="toshi_id" value="{{ app.toshi_id }}">
            <input type="hidden" name="blocked" value="true">
          </form>
          <a href="#" class="set_blocked" data-toshi-id="{{ app.toshi_id }}">(block)</a>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<nav>
  <ul class="pagination justify-content-center">
    <li class="page-item{% if current_page == 1 %} disabled{% endif %}">
      <a class="page-link" href="/{{ environment }}/apps?{{ get_qargs(page=1) }}">First</a>
    </li>
    <li class="page-item{% if current_page == 1 %} disabled{% endif %}">
      <a class="page-link" href="/{{ environment }}/apps?{{ get_qargs(page=current_page - 1) }}">Previous</a>
    </li>
    {% for page_num in range(1, total_pages + 1) %}
    {% if page_num < current_page - 5 and page_num + 10 < total_pages %}
    {% elif page_num > current_page + 5 and page_num - 10 > 1 %}
    {% else %}
      <li class="page-item{% if page_num == current_page %} active{% endif %}">
	<a class="page-link" href="/{{ environment }}/apps?{{ get_qargs(page=page_num) }}">{{ page_num }}</a>
      </li>
    {% endif %}
    {% endfor %}
    <li class="page-item{% if current_page == total_pages %} disabled{% endif %}">
      <a class="page-link" href="/{{ environment }}/apps?{{ get_qargs(page=current_page + 1) }}">Next</a>
    </li>
    <li class="page-item{% if current_page == total_pages %} disabled{% endif %}">
      <a class="page-link" href="/{{ environment }}/apps?{{ get_qargs(page=total_pages) }}">Last</a>
    </li>
  </ul>
</nav>
{% endblock %}
