<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Toshi Admin Service{% if title %} - {{ title }}{% endif %}</title>
    <link rel="stylesheet" href="/public/tether.min.css">
    <link rel="stylesheet" href="/public/bootstrap.min.css">
    <link rel="stylesheet" href="/public/style.css">
  </head>
  <body>
    <div class="container">
      <nav class="header navbar navbar-light rounded navbar-toggleable-md" style="background-color: #00be6d;">
	<a class="navbar-brand toshilogo" href="/">
	  {% include 'toshi_svg.html' %}
	</a>
	<div class="collapse navbar-collapse justify-content-end">
	  <ul class="navbar-nav">
	    <li class="nav-item">
	      <span class="navbar-text">{% if current_user.name %}{{ current_user.name }} {% endif %}@{{ current_user.username }}</span>
	    </li>
	    <li class="nav-item">
              <form id="logout_form" method="POST" action="/logout">
              </form>
	      <a class="nav-link logout" href="#">logout</a>
	    </li>
	    <li class="nav-item">
	      <a class="navbar-brand">
		<img src="{{ current_user.avatar }}" width="30" height="30" alt="">
	      </a>
	    </li>
	  </ul>
	</div>
      </nav>
      <nav class="navbar navbar-light navbar-toggleable-sm bg-faded justify-content-center">
	<div class="navbar-collapse collapse">
	  {% if environment == 'mainnet' or environment == 'dev' or environment == 'internal' %}
	    <ul class="navbar-nav mx-auto w-100">
	      <li class="nav-item">
	        <a class="nav-link{% if page == 'home' %} active{% endif %}" href="/{{ environment }}">Home</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link{% if page == 'users' %} active{% endif %}" href="/{{ environment }}/users">Users</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link{% if page == 'txs' %} active{% endif %}" href="/{{ environment }}/txs">Transactions</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link{% if page == 'apps' %} active{% endif %}" href="/{{ environment }}/apps">Apps</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link{% if page == 'dapps' %} active{% endif %}" href="/{{ environment }}/dapps">Dapps</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link{% if page == 'reports' %} active{% endif %}" href="/{{ environment }}/reports">Reports</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link{% if page == 'categories' %} active{% endif %}" href="/{{ environment }}/categories">Categories</a>
	      </li>
	    </ul>
          {% elif environment == 'config' %}

	  {% endif %}
	  <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
	    <li class="nav-item">
	      <a class="nav-link{% if environment == 'internal' %} active{% endif %}" href="/internal{% if page != 'home' %}/{{ page }}{% endif %}">internal</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link{% if environment == 'dev' %} active{% endif %}" href="/dev{% if page != 'home' %}/{{ page }}{% endif %}">dev</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link{% if environment == 'mainnet' %} active{% endif %}" href="/mainnet{% if page != 'home' %}/{{ page }}{% endif %}">mainnet</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link{% if environment == 'config' %} active{% endif %}" href="/config">config</a>
	    </li>
	  </ul>
	</div>
      </nav>
      {% block body %}
	<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
	  <a class="navbar-brand" href="#">Status</a>
	</nav>
	<table class="table table-hover table-responsive">
	  <thead>
	    <tr>
	      <th></th>
	      <th>New (last 24 hours)</th>
	      <th>New (last week)</th>
	      <th>New (last month)</th>
	      <th>Total</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <th>Users</th>
	      <td>{{ users.day }}</td>
	      <td>{{ users.week }}</td>
	      <td>{{ users.month }}</td>
	      <td>{{ users.total }}</td>
	    </tr>
	    <tr>
	      <th>Transactions</th>
	      <td>{{ txs.day }}</td>
	      <td>{{ txs.week }}</td>
	      <td>{{ txs.month }}</td>
	      <td>{{ txs.total }}</td>
	    </tr>
	  </tbody>
	</table>
	<table class="table table-hover table-responsive">
	  <thead>
	    <tr>
	      <th>Service</th>
	      <th>Status</th>
	      <th>@block number</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <th>Id service</th>
	      <td>{{ status.id }}</td>
	    </tr>
	    <tr>
	      <th>Eth service</th>
	      <td>{{ status.eth }}</td>
	      <td>{{ block.db }}</td>
	    </tr>
	    <tr>
	      <th>Eth node</th>
	      <td>{{ status.node }}</td>
	      <td>{{ block.node }}</td>
	    </tr>
	    <tr>
	      <th>Dir service</th>
	      <td>{{ status.dir }}</td>
	    </tr>
	    <tr>
	      <th>Rep service</th>
	      <td>{{ status.rep }}</td>
	    </tr>
	  </tbody>
	</table>
      {% endblock %}
      <script src="/public/jquery.min.js"></script>
      <script src="/public/tether.min.js"></script>
      <script src="/public/bootstrap.min.js"></script>
      <script src="/public/index.js"></script>
      {% block script %}
      {% endblock %}
    </div>
  </body>
</html>
